<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <title>Fruits and Veggies</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);

        app.controller('fileCtrl', function ($scope, $http) {
            $scope.uploadFile = function () {
                var formData = new FormData();
                var file = document.getElementById("file").files[0];
                formData.append("file", file);

                $http.post("/api/File/UploadFile", formData, {
                    transformRequest: angular.identity,
                    headers: { 'Content-Type': undefined }
                })
                    .then(function (response) {
                        alert(response.data);
                        $scope.getFruitsAndVegetables();
                    })
                    .catch(function (error) {
                        alert("Error occurred while uploading the file.");
                        console.log(error);
                    });
            };

            $scope.getFruitsAndVegetables = function () {
                $http.get("/api/FruitsAndVegetables")
                    .then(function (response) {
                        $scope.fruitsAndVegetables = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            };
        });
    </script>
</head>
<body ng-controller="fileCtrl">
    <div class="container">
        <h2>Upload File</h2>
        <input type="file" id="file" />
        <button class="btn btn-primary" ng-click="uploadFile()">Upload</button>

        <h2>Fruits and Vegetables</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in fruitsAndVegetables">
                    <td>{{ item.Name }}</td>
                    <td>{{ item.Type }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
